.sectionFriend {
  width: 330px;
  background-color: #d7e0d0;
  padding: 10px;
}
.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.friendItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}
.friendAvatar {
  display: block;
  width: 75px;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
}
.statusOn {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid rgb(12, 40, 12);
}
.statusOff {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid rebeccapurple;
}
