.statistics {
  text-align: center;
  background-color: #d7e0d0;
  width: 350px;
}

.title {
  font-size: 30px;
  padding: 10px;
}
.stat-list {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 50px;
}
.label {
  font-size: 20px;
  font-family: 'Cantarell', sans-serif;
}
