.sectionTransaction {
  width: 330px;
  background-color: #d7e0d0;
  padding: 10px;
}
.transactionHeader th {
  width: calc(100% / 3);
  border: 0.5px solid;
  padding: 5px;
  background-color: rgb(80, 165, 239);
}
.transactionHeader {
  display: flex;
}
.transactionList tr:nth-child(even) {
  background-color: lightyellow;
}
.transactionList tr:nth-child(odd) {
  background-color: aliceblue;
}

.transactionItem td {
  width: 110px;
  text-align: center;
  padding: 5px;
}
